.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.sav
*.html
*.pptx
*.txt
Example*
CAV_compact_agg_equations.docx
Efficient_CAV_Incentives_-_AppendixDerivations2018.docx
Notes_on_Private_vs._Commercial_Shared_Ownership_of_CAVs.docx
Elas_VKT_and_Elas_PKT_relationship.docx
SAV_Replacement_of_Conventional_Vehicles.docx
CAVdecom_20181107.docx
Old*.zip
Data/PrimaryDataFiles/*
Data/NHTS
Data/Shared*.xlsx
local_junk/
Literature/
BackupAndTests/
Docs/*.pptx